body
{
  font-family: 'Roboto Slab', 'Roboto', 'Roboto Mono', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
}

main
{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #f2efc8;
}

img
{
  max-width: 100%;
  display: block;
  width: 100px;
  height: 100px;
}

h1
{
  text-align: center;
  padding-left: 10px;
}
h2
{
  text-align: left;
  padding-left: 10px;
}
h4
{
 padding-left: 10px;  
}
p
{
  line-height: 20px;
  padding-left: 10px;
}
nav
{
  text-align: center;
}
a
{
  text-decoration: none;
  padding: 15px;
  border: solid 1px;
  background-color: #722222;
  color: #ffffff;
}
a:hover
{
  text-decoration: none;
  padding: 15px;
  border: solid 1px;
  color: black;
  font-weight: bold;
}

ul
{
  list-style-type: none;
}

.headerfooter
{
  padding: 15px;
  border: solid 1px;
  background-color: #248386;
  color: #ffffff;
  text-align: center;
}
.background
{
  padding: 15px;
  border: solid 1px;
  background-color: #ffffff;
  color: #000000;
}
.headers
{
  font-family: 'Montserrat', 'Merriweather', 'Lato', sans-serif;
  padding-left: 10px;
  text-align: left;
}
.text
{
  font-family: 'Merriweather', 'Montserrat', 'Lato', sans-serif;
}