body
{
  font-family: "Minion Pro, Helvetica, sans-serif";
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
}

h1
{
  font-size: 1.7em;
}

h2
{
  font-size: 1.5em;
}

img
{
  max-width: 100%;
}

.centeredHeader
{
 text-align: center;
 margin-left: 240px;
}

.centeredLists
{
  margin-left: 500px;
}

.headerfooter
{
	background-color: #daffff;
	border-radius: 12px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 0;
}

.profilepic
{
	width: 150px;
	height: 200px;
	box-shadow: 1px 1px 4px 1px #888;
  overflow: hidden;
	float: right;
	margin-right: 25px;
	margin-top: -75px;
	z-index: 1;
}

.timestamp
{
	color: #d73407
}
