@media only screen and (min-width: 20em)
{
body
{
  font-family: 'Montserrat', 'Merriweather', 'Lato', 'Roboto Slab', 'Roboto', 'Roboto Mono', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
}
  
main
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
  
header
{
	background-color: rgba(36, 131, 134, 0.8);
	text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
  
nav
{
  background-color: rgba(36, 131, 134, 1);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
  
button
{
  background-color: transparent;
  color: black;
  border: none;
  font-size: 32px;
  margin-left: auto;
  margin-right: auto;
}
  
.hide_nav
{
  display: none; 
}
  
ul
{
  list-style-type: none;   
}
  
li
{
  display: block;  
  margin-top: 20px;
  text-align: left;
}
  
a
{
  color: #ffffff;
  text-decoration: none;
}
  
a:hover
{
  color: #ffffff;
  text-decoration: underline;
}

h2
{
  text-align: center;  
}
  
h1
{
  grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
  font-size: 1.2em;
  margin-top: 30px;
}
  
h4
{
  grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
  padding-left: 80px;
  white-space: nowrap;
  font-size: 14px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 10px;
}
  
img
{
  width: 100px;
  height: 100px;
  grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
  margin-left: 25px;
}
  
div
{
  background-color: #c8c8c8;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-top: 10px;
}
  
footer
{
	background-color: #00ffff;
	text-align: center;
  width: 100%;
  background-color: rgba(36, 131, 134, 1);
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
  
.timestamp
{
	color: #050100;
}
}