body
{
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
background-color: #ffffff;
color: #000000;
}

h1
{
text-align: center;
}

main
{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
background-color: #f2efc8;
width: 80%;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}

table
{
grid-column-start: 2;
grid-row-start: 1;
margin-top: 20px;
margin-bottom: 20px;
border: 1px solid #c8c8c8;
border-collapse: collapse;
box-shadow: 4px 4px 4px 4px #7fb9c2;
text-align: center;
}

thead
{
border: 1px solid #c8c8c8;
}

th
{
background-color: #628ca6;
color: #ffffff;
border: 1px solid #c8c8c8;
padding: 5px;
}

thead th
{
font-size: 32px;
font-weight: 700;
background-color: #7fb9c2;
color: #000000;
padding: 15px;
}

td
{
border: 1px solid #c8c8c8;
padding: 5px;
}

tr
{
background-color: #e7f0ed;
}

tr:nth-child(2n+1)
{
background-color: #e7ffed;
}

tfoot td
{
background-color: #7fb9c2;
font-size: 18px;
}

#black_friday
{
font-weight: 300;
font-style: italic;
}